.main
{
    padding: 0px 20px;
}
.container_info_pokemon
{
    max-width: 1000px;
    height: 1250px;
    margin: 100px auto 30px auto;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    
}

.color_container_info{
    width: 100%;
    height: 13%;
    border-radius: 3px;
    position: relative;
}
.container_pokemon_info
{
    width: 100%;
    height: calc(100% - 13%);
    background: #fff;
}

.container_pokemon_imagen
{
    width:100%;
    position: absolute;
    top: -67%;
}

.container_img_pokemon img
{
    width: 100%;
}

.container_img_pokemon
{
 width: 300px;
 margin: auto;
}


.container_id
{

    height: 50px;
    width: 130px;
    padding:  19px;
    border: 2px solid rgba(211, 211, 211, 1);
    margin: 30px auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 500;
    border-radius: 5px;
}

.container_info_p
{
    max-width: 700px;
    display: flex;
    min-height: 800px;
    /* border: 1px solid #000; */
    margin: auto;
    padding:  20px;
    /* justify-content: space-around; */
    flex-direction: column;
}

.grid_name_pokemon
{
    display: grid;
    grid-template-columns: 1fr 170px 1fr;
    grid-template-rows: repeat(2,50px);
    gap: 25px;
    /* border: 1px solid #000; */
    /* margin: 0px auto; */
    min-height: 100px;
    text-align: center;
   
}

 .name_poke
{
    

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
  

}
.name_poke h2{
    text-transform: capitalize;
}

.line_rigth, .line_left
{
    height: 1.4px;
    width: 100%;
    background: rgba(159, 159, 159, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    
}


.container_line_left, .container_line_rigth
{
    display: flex;
    align-items: center;    
    width: 100%;
    
}

.container_weight_and_height
{
    width: 200px;
    margin: auto;
    /* border: 1px solid #000; */
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.weight, .height
{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 5px;
 font-weight: 500;
}

.container_types_and_skills
{
    width: 100%;
    height: 200px;
    /* border: 1px solid #000; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,40px);
    justify-items: center;
    gap: 10px;
  

    

}
.type_p,.skills_p, .skill_two, .skill_one, .type_two, .type_one
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
    
}

.type_one
{
    color: #fff;
}

.skill_two, .skill_one, .type_two, .type_one
{
    border: 1px solid  rgba(211, 211, 211, 1);
    text-align: center;
    width: 100%;
    
}

.type_p
{
    grid-column-start: 1;
    grid-column-end: 3;
 

}

.type_p h2{
    font-weight: 400;
}


.skills_p
{
    grid-column-start: 3;
    grid-column-end: 5;
 

}
.skills_p h2
{
    font-weight: 400;
}

.container_stats
{
    width: 100%;
    padding-top: 20px;

}


.header_stats
{
    display: grid;
    grid-template-columns: minmax(100px,150px) 1fr 70px;
    width: 100%;
}

.title_stats, .line_stats, .img_stats
{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.title_stats h2{
    font-weight: 500;
}

.img_stats img
{
    width: 100%;
}


.line_s
{

    height: 1px;
    width: 100%;
    background: rgba(211, 211, 211, 1);

}

.body_stats
{
    width: 100%;
    min-height: 220px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center ;
    gap: 30px;
    padding-top: 10px;
}

.stat_container
{
    display: flex;
    flex-direction: column;
    width: 100%;


}

.stat_info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat_info h4{
    text-transform: uppercase;
}

.stat_info p{
    font-weight: 500;
}

.stat_bar
{
    width: 100%;
    height: 30px;
    background: rgba(246, 246, 246, 1);
    border-radius: 5px;
    border-radius: 8px;
    overflow: hidden;


}

._bar
{
    background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    height: 100%;
    
    
}

.container_movements
{
    max-width: 1000px;
    min-height: 500px;
    background-color: #fff;
    margin: auto;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    padding: 0px 30px;
    margin-bottom: 40px;
}

.movements
{
    columns: 5 100px;
    margin-top: 10px;
    padding: 10px;
    
}

.moves
{
    width: 100%;
    padding:  10px;
    background: rgba(229, 229, 229, 1);
    color: #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    
}




@media (max-width:650px){
    .grid_name_pokemon
    {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,50px);

    }

    .container_info_pokemon
    {
        height: 1500px;
    }
    .container_line_left
    {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .name_poke
    {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 4;

    }

  

    .container_line_rigth
    {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .container_types_and_skills
    {
        grid-template-rows: repeat(4,40px);
        gap: 20px 10px;
        margin-top: 40px;
    }

    .type_p
    {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .type_one
    {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;

    }

    .type_two{
        grid-row-start: 2;
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .skills_p
    {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .skill_one
    {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 3;

    }

    .skill_two{
        grid-row-start: 4;
        grid-column-start: 3;
        grid-column-end: 5;
    }
   

    .container_stats
    {
        padding-top: 100px;
    }

    .container_movements .container_stats
    {
        padding-top: 10px;
    }

  

}

@media (max-width:350px){

    .container_img_pokemon
    {
        width: 240px    ;
    }

}